@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: "Saira", sans-serif;
  --color-primary: #162239;
  --color-navbar: #082B4D;
  --color-accent: #f5a425;
}

@layer base {
  body {
    @apply font-sans bg-white text-gray-900;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary/10;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent/80;
}
